<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Proyecto Final Fisica 2014</title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    
  </head>
  
  <body>
    <%= yield %>
    <%= javascript_include_tag  "all" %>
  </body>
</html>